* {
    margin: 0;
}

.background {
    background-color: hsl(30, 38%, 92%);
    width: 1535px;
    height: 729px;
}

.container {
    background-color: white;
    width: 500px;
    height: 400px;
    
}