* {
  margin: 0;
}

.background {
  width: 1535px;
  height: 729px;
  position: absolute;
  background-color: #f2eae2;
  padding: 0px;
}



.container {
    background-color:#ffffff;
    height:358px;
    width:598px;
    border-radius:6px;
    position: absolute;
    left: 28%;
    top: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gabrielleessenceeaudeparfum {
  color: #1e1e1e;
  text-align: left;
  vertical-align: text-top;
  font-size: 19px;
  font-family: Fraunces;
  left: 423px;
  top: 209px;
  width: 116px;
  height: 69px;
  position: absolute;
  line-height: auto;
  border-style: hidden;
  outline: none;
}
